.overflow-scroll{
    height: 23rem;
    max-height: 23rem;
}

#abono{
    margin-right: 3rem;
}

#btnGuardar{
    margin-left: -16rem;
}

h4{
    color: rgb(252, 31, 31);
}

.deuColor{
    color: rgb(252, 31, 31);
}

.aboColor{
    color: forestgreen;
}

