#Logos{
    width: 300px;
    height: 250px;
    margin-bottom: 5px;
}

#cuerpo
{
    margin-top: -1rem;
    
}

#login{
    
    background-image: radial-gradient(circle at 34.63% 50%,  #b2babb  0,  #b2babb  7.14%,  #b2babb  14.29%,  #b2babb  21.43%,  #b2babb  28.57%,  #b2babb  35.71%,  #b2babb  42.86%,  #b2babb 50%,  #b2babb  57.14%,  #b2babb  64.29%,  #b2babb  71.43%,  #b2babb  78.57%,  #b2babb  85.71%,  #b2babb  92.86%,  #b2babb  100%);
}