.fondo{
    background-color: #ecece4;
}

#navbar{
    background-color: #bac3eb;
}

#scroll{
    width: 30rem;
    height: 18rem;   
}
.overflow-scroll{
    width: auto;
    height: 10rem;   
}


#historial{
    margin-top: 4rem;
}

.logo{
    max-width: 70px;
}

#Abo{
    margin-right: 50px;
}

#btnGuardar{
    margin-right: 24rem;
}

#btnVolver{
    margin-top: 3rem;
    margin-right: 3rem;
}

.deuColor{
    background-color: rgb(226, 73, 73);
}

.aboColor{
    background-color: rgb(115, 218, 140);
}

/* #MensajeExi{
    position: relative;
    animation-duration: 6s;
    animation: slidein;
}

@keyframes slidein {
    from{
        margin-left: 100%;
        width: 300%;
    }
    to{
        margin-right: 100%;
    }
} */