body{
    height: 660px;
    background-image: linear-gradient(rgba(173, 173, 165, 0.616),rgba(82, 82, 77, 0.616) ), url(../images/fondo.jpg);
    background-size: 1320px;
    opacity: 3;
}

.btnClientes{
    border-color: black;
    margin-top: 30rem;
    margin-left: 29.4rem;
}

.btnVentas{
    border-color: black;
    margin-top: 30rem;
    margin-left: 1.5rem;
}

.btnEgresos{
    border-color: black;
    margin-top: 30rem;
    margin-left: 2rem;
}

.btnGanancias{
    border-color: black;
    margin-top: 30rem;
    margin-left: 2.1rem;
}

.btnClientesU{
    border-color: black;
    margin-top: 27rem;
    margin-left: 38rem;
}

